<div class="box-container-action {{actionType}}">
    <div class="box-dices">
        <div class="d-flex justify-content-center align-items-center h-100">
              <app-dice *ngIf="actionType === 'defese'" [index]="1" [dice_face]="dice_1" [status_dice]="status_dice_1" [hasDice]="hasDice_1"></app-dice>
              <app-dice *ngIf="actionType === 'attack'" [index]="3" [dice_face]="dice_3" [status_dice]="status_dice_3" [hasDice]="true"></app-dice>

              <app-dice [index]="2" [dice_face]="dice_2" [status_dice]="status_dice_2" [hasDice]="hasDice_2"></app-dice>

              <app-dice *ngIf="actionType === 'defese'" [index]="3" [dice_face]="dice_3" [status_dice]="status_dice_3" [hasDice]="true"></app-dice>
              <app-dice *ngIf="actionType === 'attack'" [index]="1" [dice_face]="dice_1" [status_dice]="status_dice_1" [hasDice]="hasDice_1"></app-dice>
        </div>
    </div>

    <div class="dice-qty">
        <button class="btn btn-primary" (click)="setDices(1)">1</button>
        <button class="btn btn-primary" (click)="setDices(2)">2</button>
        <button class="btn btn-primary" (click)="setDices(3)">3</button>
    </div>

    <div class="box-action">
        <button class="btn btn-primary btn-block" (click)="handlerRollDices(actionType)" [disabled]="isDisabledButton"
            style="min-height: 50px;">
            {{actionType === 'attack' ? 'Atacar' : 'Defender'}}
        </button>
    </div>
</div>
