<div class="box-container-action {{actionType}}">
    <div class="box-dices w-100">
        <div class="container-dices">
              <app-dice *ngIf="actionType === 'attack'" [actionType]="actionType" [index]="2" [value]="dicesValues[2]" [isDestroyed]="statusDices[2]" [hasDice]="true"></app-dice>
              <app-dice *ngIf="actionType === 'defese'" [actionType]="actionType" [index]="0" [value]="dicesValues[0]" [isDestroyed]="statusDices[0]" [hasDice]="qtyDices === 3"></app-dice>

              <app-dice [actionType]="actionType" [index]="1" [value]="dicesValues[1]" [isDestroyed]="statusDices[1]" [hasDice]="qtyDices >= 2"></app-dice>

              <app-dice *ngIf="actionType === 'defese'" [actionType]="actionType" [index]="2" [value]="dicesValues[2]" [isDestroyed]="statusDices[2]" [hasDice]="true"></app-dice>
              <app-dice *ngIf="actionType === 'attack'" [actionType]="actionType" [index]="0" [value]="dicesValues[0]" [isDestroyed]="statusDices[0]" [hasDice]="qtyDices === 3"></app-dice>
        </div>
    </div>

    <div class="dice-qty">
        <button class="btn btn-primary" (click)="setDices(1)">1</button>
        <button class="btn btn-primary" (click)="setDices(2)">2</button>
        <button class="btn btn-primary" (click)="setDices(3)">3</button>
    </div>

    <div class="box-action">
        <button class="btn btn-primary d-flex justify-content-between align-items-center w-100" (click)="handlerRollDices()" [disabled]="isDisabledButton" style="min-height: 50px;">

          <span *ngIf="actionType === 'attack'" class="rotate-y-180"><app-sword size="30"></app-sword></span>
          <span *ngIf="actionType === 'defese'" class=""><app-shield size="30"></app-shield></span>

          <strong>
            {{actionType === 'attack' ? 'Atacar' : 'Defender'}}
          </strong>

          <span *ngIf="actionType === 'attack'" class=""><app-sword size="30"></app-sword></span>
          <span *ngIf="actionType === 'defese'" class=""><app-shield size="30"></app-shield></span>

        </button>
    </div>
</div>
