<div class="container-main-table {{statusTable}}">
    <section class="container-box-action">
        <app-action actionType="{{action_01}}"></app-action>
    </section>

	<section class="container-mid-game d-flex justify-content-center">
        <button class="btn btn-block btn-primary my-2" (click)="invertTable()">
            <app-refresh size="20"></app-refresh>
        </button>
    </section>

    <section class="container-box-action">
        <app-action actionType="{{action_02}}"></app-action>
    </section>
</div>
