<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:svgjs="http://svgjs.com/svgjs" [attr.width]="width" [attr.height]="height" x="0" y="0" viewBox="0 0 20 20"
  style="enable-background:new 0 0 512 512" xml:space="preserve">
  <g>
    <g xmlns="http://www.w3.org/2000/svg" fill="currentCollor">
      <path d="m18.6 9.6-1.6 1.6v-.2c0-4.4-3.6-8-8-8v2c3.3 0 6 2.7 6 6v.2l-1.6-1.6-1.4 1.4 4 4 4-4z" fill="currentCollor"
        data-original="currentCollor"></path>
      <path d="m5 9v-.2l1.6 1.6 1.4-1.4-4-4-4 4 1.4 1.4 1.6-1.6v.2c0 4.4 3.6 8 8 8v-2c-3.3 0-6-2.7-6-6z" fill="currentCollor"
        data-original="currentCollor"></path>
    </g>
  </g>
</svg>
