@font-face {
  font-family: 'Nordic';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../assets/fonts/Nordic\ Alternative\ Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Nordic';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../assets/fonts/Nordic\ Alternative\ Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Nordic';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../assets/fonts/Nordic\ Alternative\ Regular.eot') format('eot');
}


@font-face {
  font-family: 'Nordic';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../assets/fonts/Nordic\ Alternative\ Regular.woff') format('woff');
}

$font-family-base: 'Nordic'
